
@{
    ViewBag.Title = "Master Setup";
}
<h2>@ViewBag.Title.</h2>
<div class="">
    <a href="Master/ClientIndex" class="btn btn-primary btn-lg">Client</a>
    <a href="Master/DriverIndex" class="btn btn-primary btn-lg">Driver</a>
    <a href="Master/VehicleOwnerIndex" class="btn btn-primary btn-lg">Vehicle Owner</a>
    <a href="Master/VehicleIndex" class="btn btn-primary btn-lg">Vehicle</a>
    <a href="Master/TripTypeIndex" class="btn btn-primary btn-lg">Trip Type</a>
    <a href="Master/MaterialIndex" class="btn btn-primary btn-lg">Material</a>
    <a href="Master/LocationIndex" class="btn btn-primary btn-lg">Location</a>
    <a href="Master/PartnerIndex" class="btn btn-primary btn-lg">Partner</a>
    <a href="Master/FinancerIndex" class="btn btn-primary btn-lg">Financer</a>
</div>